body {
    background-color: rgb(136, 207, 249);
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .navbar-brand {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.navbar .btn {
    background-color: #007bff;
    color: #fff;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh; /* Ajuste a altura conforme necessário */
}

.title {
    color: #333;
    font-family: "Arial", sans-serif;
    font-size: 32px;
    text-align: center;
    margin-top: 50px;
}

.subtitle {
    color: #121111;
    font-family: "Arial", sans-serif;
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
}

.form-container form {
    text-align: center;
}

.form-container label,
.form-container input[type="text"],
.form-container input[type="date"],
.form-container input[type="number"],
.form-container input[type="submit"] {
    display: block;
    margin-bottom: 10px;
}

.form-container input[type="submit"] {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.form-container input[type="text"],
.form-container input[type="date"],
.form-container input[type="number"] {
    width: 200px; /* Ajuste a largura conforme necessário */
    margin-left: auto;
    margin-right: auto;
}

.logos-bar {
    background-color: #000;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
}

.logos-bar img {
    height: 40px;
    margin: 0 10px;
}

.navbar-brand {
    margin-right: 0 !important;
}
.navbar h1 {
    color: white;
    font-size: 24px;
    margin: 0;
    padding: 0;
    text-align: center;
    flex-grow: 1;
}

.testimonial-balloon {
    max-width: 500px;
    padding: 13px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 80px;
}
.testimonial-text {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.testimonial-author {
    font-size: 14px;
    font-style: italic;
}

.saibamais-button{
    align-items: center;
    background-color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.saibamais-button:hover {
    background-color: #D0D1D3;
}

.send-button{
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #1DA1F2;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.send-button:hover {
    background-color: #bfddf3;
}