{% extends 'base.html' %}

{% block main %}

    <div class="container">
        <h1 class="title">Análise de Empresas com IA</h1>
        <h2 class="subtitle">Faça uma busca para obter informações sobre uma empresa</h2>
    </div>
    <div class="form-container">
        <form action="/search" method="post">
            <label for="nome_empresa">Digite o nome da empresa que deseja fazer a busca:</label><br>
            <input type="text" id="nome_empresa" name="nome_empresa"><br><br>
            <input type="submit" value="Enviar">
        </form>
    </div>
    {% endblock %}