{% extends 'base.html' %}

{% block main %}

<div class="container">
    <div class="jumbotron mt-4">
        <h1 class="display-4">Opiniões da empresa "{{company_name}}"</h1>
        <p class="lead">dos dias {{ since }} até {{ until }}, com limitação de {{tweet_quantity}} tweets</p>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Análise Geral</h5>
                    <canvas id="doughnutChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Análise por dia</h5>
                    <canvas id="barChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Opiniões da Empresa {{company_name}}</h5>
                <p class="card-text">A empresa {{company_name}} apresenta {{ analysis['positive']}}% de
                    tweets com opiniões positivas, {{ analysis['neutral']}}% de tweets com opiniões
                    neutras e {{ analysis['negative']}}% de tweets com opiniões negativas.</p>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="card">
            <div class="card-body">
                <h3>Opinião da IA</h3>
                {% if neutral < positive and positive> negative %}
                    <p class="card-text">A empresa {{company_name}} tem recebido uma quantidade significativa de
                        opiniões
                        positivas em suas
                        análises de tweets.
                        Os usuários elogiam seus produtos de alta qualidade, atendimento ao cliente excepcional e
                        compromisso
                        com a inovação. As avaliações favoráveis refletem a satisfação dos clientes e indicam que a
                        empresa
                        está
                        indo bem em termos de reputação e desempenho no mercado.</p>

                    {% elif neutral < negative and negative> positive %}
                        <p class="card-text">As análises de tweets revelam que a empresa {{company_name}} tem recebido
                            um
                            número
                            significativo de
                            opiniões negativas. Os usuários expressam insatisfação com a qualidade dos produtos,
                            problemas
                            recorrentes no atendimento ao cliente e atrasos nas entregas. Essas críticas indicam que a
                            empresa
                            precisa fazer melhorias em várias áreas para melhorar sua reputação e garantir a satisfação
                            dos
                            clientes. É essencial que a empresa ouça atentamente essas opiniões e tome medidas
                            corretivas
                            para
                            resolver os problemas levantados.</p>
                        {% else %}
                        <p class="card-text">Ao analisar os tweets relacionados à empresa {{company_name}}, observamos
                            que a
                            maioria das opiniões
                            é neutra. Os usuários não expressam sentimentos extremos nem positivos nem negativos em
                            relação
                            à
                            empresa. Essa neutralidade pode ser interpretada como um reflexo de uma experiência mediana
                            ou
                            uma
                            falta de engajamento significativo por parte dos usuários. A empresa pode considerar
                            explorar
                            estratégias para atrair opiniões mais favoráveis ou engajar melhor sua base de clientes.</p>
                        {% endif %}
            </div>
        </div>
    </div>

    <div class="mt-4 mb-2">
        <h3>Exemplos de tweets avaliados:</h3>
        <table class="table ">
            <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Texto</th>
                </tr>
            </thead>
            <tbody>
                {% for tweet in tweets_details[:4] %}
                <tr>
                    <td>
                        {{tweet.date}}
                    </td>
                    <td>
                        <a href="{{tweet.url}}">{{tweet.content}}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    var positiveValue = {{ analysis['positive']}};
    var negativeValue = {{ analysis['negative']}};
    var neutralValue = {{ analysis['neutral']}};

    var donutChart = new Chart(document.getElementById('doughnutChart'), {
        type: 'doughnut',
        data: {
            labels: ['Positivo', 'Negativo', 'Neutro'],
            datasets: [{
                label: '% dos Tweets',
                data: [positiveValue, negativeValue, neutralValue],
                backgroundColor: ['#36a2eb', '#ff6384', '#ffce56']
            }]
        },
        options: {
            responsive: true,
            legend: {
                position: 'bottom'
            }
        }
    });

    var dates = {{ days| tojson }};
    var positiveValues = {{ positive| tojson }};
    var negativeValues = {{ negative| tojson }};
    var neutralValues = {{ neutral| tojson }};

    var barChart = new Chart(document.getElementById('barChart'), {
        type: 'bar',
        data: {
            labels: dates,
            datasets: [
                {
                    label: 'Positivo',
                    backgroundColor: 'green',
                    data: positiveValues
                },
                {
                    label: 'Negativo',
                    backgroundColor: 'red',
                    data: negativeValues
                },
                {
                    label: 'Neutro',
                    backgroundColor: 'gray',
                    data: neutralValues
                }
            ]
        },
        options: {
            responsive: true,
            scales: {
                x: {
                    title: {
                        display: true,
                        text: 'Data'
                    }
                },
                y: {
                    title: {
                        display: true,
                        text: 'Porcentagem'
                    }
                }
            }
        }
    });
</script>

{% endblock %}